* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.card-body {
  max-width: 250px;
  padding-left: 10px;
  margin-top: 0px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.card-deck {
  margin-bottom: 3.2rem;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.inner {
  overflow: hidden;
  transition: max-height 0.2s ease;
}

.link-with-preview {
  position: relative;
}

.card img {
  width: 150px;
}

.card-title {
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #000000;
  cursor: pointer;
  white-space: nowrap;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;

  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.blog {
  width: 100%;
  min-height: 100vh;
  /* background: radial-gradient(
    ellipse at left bottom,
    rgb(235, 219, 199) 0%,
    rgba(152, 149, 156, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  ); */
  background-color: white;
}

.blog nav {
  background-color: white;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog nav h2 {
  color: black;
  white-space: nowrap;
}

.blog nav button {
  width: 115px;
  padding: 10px 0;
}

.blog-right {
  color: #000000;
}

.btn-save {
  width: 15%;
}
input[type="text"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

form {
  background: #00000075;
  padding: 1.5em;
  border-radius: 1em;
}
