* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  border: none;
  border-radius: 15px 15px;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  background: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.goBack {
  border: solid;
  outline: none;
  text: black;
  border-radius: 15px 15px;
  width: 5%;
  padding: 10px 0;
  color: rgb(0, 0, 0);
  background: white;
  border-color: #000000;
  cursor: pointer;
  white-space: nowrap;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow {
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 1286px;
}

.post {
  border: none;
  outline: none;
  border-radius: 15px 15px;
  width: 10%;
  padding: 5px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #000000;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  right: 548px;
}

.btn-save {
  border: none;
  outline: none;
  border-radius: 15px 15px;
  width: 2%;
  padding: 5px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #000000;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  right: 239px;
}

.my-posts-container {
  position: absolute;
  right: 530px;
}

.c .content-button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  letter-spacing: 1px;
  background: white;
  cursor: pointer;
  white-space: nowrap;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;

  display: flex;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30rem;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgb(255, 255, 255) 0%,
    rgba(129, 136, 141, 0.9) 59%,
    rgba(61, 59, 59, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.blog {
  width: 100%;
  min-height: 100vh;
  /* background: radial-gradient(
    ellipse at left bottom,
    rgb(235, 219, 199) 0%,
    rgba(152, 149, 156, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  ); */
  background-color: white;
}

.blog nav {
  background-color: white;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog nav h2 {
  color: black;
  white-space: nowrap;
}

.blog nav button {
  width: 115px;
  padding: 10px 0;
}

.blog-right {
  color: #000000;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn-save {
  width: 15%;
}
input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

form {
  position: absolute;
  /* background: #07000075; */
  padding: 1.5em;
  border-radius: 1px;
  width: 50%;
  left: 450px;
}

.box {
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  height: 300px;
  max-height: 35vh;
  -webkit-box-shadow: 0px 12px 18 px -6 rgba(0, 0, 0, 0.3);
  box-shadow: 0px 12px 18 px -6 rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid > div {
  flex-basis: calc(33.33333% - 40px);
}
